/* Página 1 Index/Portada */

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

header{
    font-family: 'Open Sans', sans-serif;
    font-style:inherit;
    background-color: aquamarine;
    font-size: 11px;
    text-align:center;
}
body{
    font-size: 0px;
    font-family: 'Open Sans';
    margin: 5px;
    padding: 5px;
}

p{
    font-size: 13px;
}

img.logo{
    width: 25%;
    height: auto;
}

nav {
    background-color: #e0dcdc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
    /* justify-content: center; */
}

li {
    padding: 5px;    
}

a {
    text-decoration: none;
    color: hsl(140, 90%, 16%);
}

nav a:hover {
    background-color: aquamarine;
    text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 13px;
}

h2{
    font-size: 14px;
}

h3{
    font-size: 13px;
}

/* main{
    font-family: 'Open Sans';
    font-size: 8px;
    text-align: justify;
    margin: 5px;
    padding: 0px;
} */

.ol {
    list-style-type:upper-roman;
    font-size: 13px;
}

  
.pieimagen{
    text-align: center;
    font-size: 10px;
 }

.sa{
    width: 600px;
    height: 400px;
    justify-content: center;
}

.concepto{
    text-align: justify;
}

footer{
    background-color: #e0dcdc;
    text-align: center;
    padding: 5px;
    font-family: 'Open Sans';
    font-size: small;
}

.ods{
    display: inline-block;
    padding: 5px;
    margin: 3px;
    background-color: rgba(255, 230, 0, 0.432);
    text-align: justify;
}
    
.ods1 li{
    list-style-type:upper-roman;
    font-size: 13px;
    padding: 5px;
    margin: 3px;
}

.objpagina{
    list-style: decimal;
    display: inline-block;
    font-size: 13px;
    text-align: justify;
    padding: 5px;
    margin: 3px;
}

.nosotras{
    display:grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 3px;
    
}

.parrafovioleta {
    color: rgb(126, 16, 230);
       
}
.nombre{
    background-color: hsl(81, 61%, 69%);
    border: 1px solido;
    padding: 3px;
    color:black;
    text-align: center;  
}

.nosotras div:nth-child(1){
    background-color: rgba(43, 226, 150, 0.521);
}

.nosotras div:nth-child(3){
    background-color: rgba(43, 226, 150, 0.521);
}

.nosotras div:nth-child(5){
    background-color: rgba(43, 226, 150, 0.521);
}

.preg{
    display: flex;  
    justify-content: center;
}

.preg1 {
    text-align: center;
    justify-content:center;
    border-style: dashed;
    padding: 10px;
}

.mapa{
    text-align:center;
}

.botones{
    /* padding: 5px;
    margin: 5px; */
    cursor: pointer;
    font-style: italic;
    font-size: 10px;
    padding: 3px;
    margin: 3px;
 }
 
.footerenlaces{
    display:flex;
    grid-template-columns: 33% 33% 33% ;
    font-size: 10px;
    justify-content:space-around;
   
}

.parrafofooter{
    font-size: 10px;
    text-align: center;
}
.enlacesf{
    display:flex;
    flex-direction: column;
}

ul.redessocialeslogos{
    display: inline-block;
    
        
}

li.redessocialeslogos{
    display:inline-block;
}

.clima {
    display: grid;
    grid-template-columns: auto;
    /* width: 500px; */
    margin: 1px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid rgb(160, 153, 153);
    background: #8d9beb;  
    border-radius: 20px;
}

.climaTitulo{
    text-align: center;
    font-style: oblique;
}

#city{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
}

#clima1{
    background: #008000;  
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}
#weatherInfo{
    color: white;
    text-align: center;
    font-style: oblique;
}

/* Pagina 2 Cambios de habitos */

.turbina{
    /* display: grid;
    grid-template-columns: 80% 20%; */
    /* gap: 10px; */
    font-style: italic;
    text-align: justify;
    color: rgb(83, 7, 155);
}

.turbina1{
    /* text-align: right; */
    text-align: center;
}

.consumo{
    /* display:grid;
    grid-template-columns: 60% 40%;
    gap: 2px;  */    
    text-align: justify;
}

.educacion{
    /* display:grid;
    grid-template-columns: 50% 50%;
    gap: 5px; */
    text-align: justify;
}

.videos{
   /* display: flex;
   flex-direction: row;
   flex-wrap:wrap; */
   text-align:center; 
   background-color: rgba(255, 230, 0, 0.432);
   padding: 5px;
   margin: 5px;
}

.videos1{
    background-color:#e0dcdc;
    text-align: center;
    /* padding: 10px;
    margin: 10px; */
}

.video2{
    padding: 10px;
    margin: 10px;
}

.contenedorhuella {
    /* display:grid;
    grid-template-columns: 50% 50%;
    gap: 20px; */
    text-align: center;
}

         /* Pagina 3 Compostaje */

body{
    margin:10 px;
    padding: 10px;
}
 p{
    text-align: justify;
 }

 .tiposmetodos{
    background-color: aquamarine;
 }

 .tiposmetodos{
    padding: 5px;
    margin: 20px;
 }

 .recursos {
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: bisque;
    justify-content:center;
    overflow:hidden;
    text-align: center;
    
 }

  /* Pagina 4 iniciativas */

  /* .iniciativas1{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: dotted;
    
  }

  .parrafoiniciativas1{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;   <!-- Bootstrap -->
  }
  
  .naviniciativas{
    padding: 0px;
  }

/* .imagenacordeon1{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    align-items: center;
} */ 


  .menuacordeon{
    text-align: center;
  }

  .menuproyectos ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
     }

 .menuproyectos li {
     padding: 10px;
         }

/* .menuproyectos li ul {
        display: none;
        margin-left: 10px;
    }  */
.imagenesmenu{
    display: flex;
    gap: 10px;
}
.imagenesmenu1{
    display: grid;
    grid-template-columns: 50% 50%;

}

.imagenesmenu2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.menuproyectos li:hover ul {
    display: block;
    transition: 20s;
    }
.botonmenu{
    background-color: rgb(8, 151, 84);
    color: white;
    }

    section#Proyectos{
        display: grid;
        grid-template-row: 25%, 25%, 25%, 25%;
        background: rgb(103, 196, 160);
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        
    }

    section#Carrito{
        border: 1px solid #ccc;
        padding: 10px;
        background: rgba(129, 135, 182, 0.589);
    }
    
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 2px solid #ccc;
        margin-bottom: 10px;
        margin: 10px;
      }

      article button {
        background-color: #045c17;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    /* Artículos en el carrito */
article2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  /* Imagen en el carrito */
  article2 img {
    width: 20%;
    margin-right: 10px;
  }
  
  /* Título en el carrito */
  article2 h2 {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Autora en el carrito */
  article2 p {
    font-size: 14px;
  }
    
      
             /* Pagina 5 contacto */

.rowcontacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside{
    flex: 30%;
    min-height: 400px;
    background-color: rgb(195, 233, 220);
    text-align: center;
    }

.main{
    flex: 70%;
    background-color: rgba(218, 218, 171, 0.521);
}

.noticias{
    font-size: 13px;
}
.RS{
    display: flex;
    flex-direction: column;

}

Player
.player {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    
  }

  #audio1{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #045c17;
    text-align: center;    
  }
  
   
  /* Play button */
  #play {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Pause button */
  #pause {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Next button */
  #next {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Previous button */
  #prev {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
  }
  
  /* Music information */
  section#musica p {
    text-align: center;
  }

  .registro {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .registro fieldset {
    border: none;
  }
  
  .registro legend {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .registro table {
    width: 100%;
  }
  
  .registro table td {
    width: 33%;
    padding: 5px;
  }
  
  .registro table h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .registro input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  div.botonesR{
    text-align:left;
  }

  #botonesregistro1, #botonesregistro{
background: #008000;
border-radius: 10px;
color: white;
  }
  
  .registro select {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .registro textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .registro button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    
  }
  
  .registro button:hover {
    background-color: #ccc;
  }
  
  .registro #ValidarNombre {
    color: red;
  }
  
  .registro #ValidarComentarios {
    color: red;
  }
  
 
  .Sesion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #9aa4da;
  }
  
  #sesion4 {
    width: 100%;
  }
  
  #sesion4 h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #sesion4 p {
    margin-bottom: 5px;
  }
  
  #sesion4 input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #sesion4 button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #sesion4 #mensaje {
    text-align: center;
    margin-top: 10px;
  }
  
  
  

/* --- Diseño Responsive --- */

@media (min-width:768px) {
    ul {
        display:inline-block;
        font-size: 13px;         
    }

    .ods1 li{
        padding: 10px;
        font-size: 14px;
    }
    
    .objpagina li{
        font-size: 14px;
    }
    h1{
        font-size: 15px;
    }
    p{
        font-size: 14px;
    }  

    .footerenlaces{
        font-size: 11px;     
    }

    .parrafofooter{
        font-size: 11px;

    }
    /* .video2{
        width: 90%;
        height: 70%;
        justify-content: center;
    } */

    .RS{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

   .rowcontacto{
    flex-direction: row;
   }
    
   .noticias{
    font-size: 15px;
   }

   .recursos{
    display: grid;
    grid-template-columns: 50% 50%;
   }

   }

   .clima {
    display:inline-block;
    
    
    }

@media (min-width: 1024px) {
    ul {
        display:inline-block;
        font-size: 18px;
        padding: 10px;         
    }

    .ods1 li{
        padding: 10px;
        font-size: 18px;
    }
    
    .objpagina li{
        font-size: 18px;
        margin: 10px;
        padding: 5px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }  

    h3{
        font-size: 18px;
    }
    
    h2{
        font-size: 18px;
    }

    .footerenlaces{
        font-size: 15px;     
    }

    .parrafofooter{
        font-size: 15px;
        text-align: center;

    }

    .nosotras{
        display:grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto;
        gap: 3px;
        padding: 10px;
    }
                 
    .nombre{
        background-color: hsl(81, 61%, 69%);
        border: 1px solido;
        padding: 10px;
        color:black;
        text-align: center;       
    }

    .botones{
        cursor: pointer;
        font-style: italic;
        font-size: 15px;
        padding: 3px;
        margin: 3px;
    }
    
    .ods{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        gap: 3px;
        padding: 10px;
        background-color: rgba(255, 230, 0, 0.432);
        text-align: justify;
    }

    .parrafofuenteods{
        font-size: 14px;
        text-align: center;
    }

    .pieimagen{
        font-size: 14px;
        text-align: center;
    }

    .imgods{
        width: 80%;
        height: auto;
        margin: 5px;
    }
   
/* Pagina 2 Cambios de habitos */
        
    .turbina{
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 10px;
        font-style: italic;
        text-align: justify;
        color: rgb(83, 7, 155);
    }
    
    .turbina1{
       text-align: right;
    }

    .tierramovil{
     width: 70%;
     height: auto;
    }
    
    .consumo{
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 2px;
        text-align: justify;
    }
    
    .educacion{
        
        display:grid;
        grid-template-columns: 50% 60%;
        gap: 5px;
        text-align: justify;
    }
    
    .videos{
       display: flex;
       flex-direction: row;
       flex-wrap:wrap;
       gap: 1px;
       text-align:center; 
       justify-content: center;
       background-color: rgba(255, 230, 0, 0.432)
    }

    .video2{
        /* padding: 5px; */
        /* margin: 5px; */
        justify-content:center;
    }

    .contenedorhuella {
        display:grid;
        grid-template-columns: 50% 50%;
        gap: 20px;
        text-align: center;
    }

    /* Pagina 3 Campostaje */

.tiposcompostaje{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 5px;
    border: solid;
    padding: 5px;
    margin: 10px;
    justify-content: center;
}

.tiposmetodos{
    background-color: aquamarine;
    border-color: black;
    justify-content: center;
    text-align: center;
    padding: 7px;
    margin: 10px;
}
 /* //Pagina iniciativas// */

 section#Proyectos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: rgb(103, 196, 160);
    text-align: center;
    border-radius: 5px;
    padding: 20px;    
}
}
